$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.ladder {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  min-width: 250px;
  @media (min-width: $breakpoint-md) {
    display: block;
    min-width: 100%;
  }
  @media (min-width: $breakpoint-sm) {
    min-width: 100%;
  }
  padding: 10px;
  border-radius: 8px;
}

.ladderTitle {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.ladderItem {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 2px;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;

  .level {
    font-weight: bold;
    color: #ddd;
  }

  .prize {
    color: #ddd;
  }
}

.safe {
  font-weight: bold;
  border-left: 5px solid #ff9800;
}

.active {
  background-color: #ff9800;
  color: #000;

  .level, .prize {
    color: #000;
  }
}

.passed {
  background-color: #2e7d32;

  .level, .prize {
    color: #fff;
  }
}